[submodule "reference_material"]
	path = reference_material
	url = https://github.com/PacktPublishing/Data-Modeling-with-Snowflake.git
[submodule "ref_data_engineering_with_dbt"]
	path = ref_data_engineering_with_dbt
	url = https://github.com/PacktPublishing/Data-engineering-with-dbt.git
